
@{
    ViewData["Title"] = "橋本Practice";
}

<h2>@ViewData["Title"]</h2>

<ul>
    <li><a asp-area="" asp-controller="Practice2" asp-action="Winning">勝率計算</a></li>
    <li><a asp-area="" asp-controller="Practice2" asp-action="ParkingRecordCreate">駐車場データ</a></li>
</ul>


