@using CLWebApp.Models.ViewModels
@model ParkingInfo

@{
    ViewData["Title"] = "駐車場データ";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <select asp-items="ViewBag.ParkInfo" id="ParkingInfoList" class="form-control input-sm" style="width: 300px;">
            <option value="">指定なし</option>
        </select>
    </div>

    <div class="row">
        <div class="form-group col-md-offset-5">
            <button type="submit" id="ajaxRecBtn" class="btn btn-success btn-lg col-md-offset-2 col-md-3">実行</button>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-offset-5">
            <button type="submit" id="minimumRateBtn" class="btn btn-success btn-lg col-md-offset-2 col-md-3">最小</button>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-offset-5">
            <button type="submit" id="maxRateBtn" class="btn btn-success btn-lg col-md-offset-2 col-md-3">最大</button>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-offset-5">
            <button type="submit" id="averageRateBtn" class="btn btn-success btn-lg col-md-offset-2 col-md-3">平均</button>
        </div>
    </div>


    <form asp-action="ParkingRecordCreate" method="get">
        <div class="col-md-offset-5">
            <button type="submit" class="btn btn-warning">クリア</button>
        </div>
    </form>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group form-inline text-left">
                    <input class="form-control dataForm1" readonly />
                </div>
                <div class="form-group form-inline text-left">
                    <input class="form-control dataForm2" readonly />
                </div>
                <div class="form-group form-inline text-left">
                    <input class="form-control dataForm3" readonly />
                </div>
                <div class="form-group form-inline text-left">
                    <input class="form-control dataForm4" readonly />
                </div>
                <div class="form-group form-inline text-left">
                    <input class="form-control dataForm5" readonly />
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
    <script src="~/js/ParkingRecordCreate.js"></script>
