
@{
    ViewData["Title"] = "マスターメンテ";
}

<h2>マスターメンテ</h2>
<ul>
    <li><a asp-area="" asp-controller="NenpiRecords" asp-action="Index">燃費記録</a></li>
    <li><a asp-area="" asp-controller="ParkingInfoes" asp-action="Index">駐車場情報</a></li>
</ul>

