@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">チャンスラボ WEBアプリ作成実習</h1>
    <p class="lead">WEBアプリ学習用 ASP.NET COreアプリケーションサイト</p>
    <hr class="my-4">
    <p></p>
</div>