@using CLWebApp.Models.ViewModels
@model Practice1ViewModel
@{
    ViewData["Title"] = "BMI計算";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Index" method="get">
    <div class="col-md-offset-5">
        <button type="submit" class="btn btn-warning">クリア</button>
    </div>
</form>

<form asp-action="Calc" method="post">
    <input type="hidden" asp-for="btnCalculationEnabled" />
    <div class="form-group form-inline col-md-12">
        <label asp-for="measuringdate" class="col-md-2 text-right"></label>
        <input asp-for="measuringdate" type="text" class="jqdatetimepicker">
        <span asp-validation-for="measuringdate" class="text-danger"></span>
    </div>
    <div class="form-group form-inline col-md-12">
        <label asp-for="height" class="col-md-2 text-right"></label>
        <input asp-for="height" />
        <span asp-validation-for="height" class="text-danger"></span>
    </div>
    <div class="form-group form-inline col-md-12">
        <label asp-for="weight" class="col-md-2 text-right"></label>
        <input asp-for="weight" />
        <span asp-validation-for="weight" class="text-danger"></span>
    </div>
    <div class="form-group form-inline col-md-12">
        <button type="submit" class="btn btn-success btn-md col-md-offset-2 col-md-3" id="calcBtn" onclick="return confirm('計算処理を実行します。よろしいですか？');">計算</button>
    </div>
</form>

<form asp-action="Record" method="post">
    <input type="hidden" asp-for="isCalculated" />
    <div class="form-group form-inline col-md-12">
        <label asp-for="bmi" class="col-md-2 text-right"></label>
        <input asp-for="bmi" readonly />
    </div>
    <div class="form-group">
        <button type="button" class="submit_button btn btn-danger" id="recBtn" data-action="@Url.Action("Record","Practice1")" data-btn="recBtn">記録</button>
    </div>
</form>

@*<button id="opener">診断結果</button>
<div id="dialog" title="ダイアログのタイトル">結果</div>*@

<form asp-action="Result" method="get">
    <button type="submit" class="btn btn-info btn-md col-md-offset-2 col-md-3" id="ResBtn">診断結果</button>
</form>

    <form asp-controller="Home" asp-action="Index">
        <div class="col-md-offset-5">
            <button type="submit" class="btn btn-primary">ホームに戻る</button>
        </div>
    </form>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
    <script src="~/js/Practice1.js"></script>
