@using CLWebApp.Models.ViewModels
@model AverageViewModel
@{
    ViewData["Title"] = "打率計算アプリ";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <div class="col-md-offset-10">
                <form asp-action="Index" method="GET">
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">クリア</button>
                    </div>
                </form>
            </div>
            <form asp-action="Calc" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Bats"></label>
                    <input asp-for="Bats" class="form-control" />
                    <span asp-validation-for="Bats" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Hits"></label>
                    <input asp-for="Hits" class="form-control" />
                    <span asp-validation-for="Hits" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-success">計算</button>
                </div>
            </form>
            <div class="form-group">
                <label asp-for="Average"></label>
                <input asp-for="Average" class="form-control" readonly />
            </div>
        </section>
    </div>
    <div class="col-md-8">
    </div>
</div>
<script src="~/js/Average.js?timestamp=@DateTime.Now.Ticks.ToString()"></script>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
