@using CLWebApp.Models.ViewModels
@model AverageViewModel
@{
    ViewData["Title"] = "打率計算アプリ";
}

<h2>@ViewData["Title"]</h2>


<div class="row">
    @*<div class="col-md-4">*@
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="Index" method="get">
        <div class="col-md-offset-5">
            <button type="submit" class="btn btn-warning">クリア</button>
        </div>
    </form>
    <form asp-action="Calc" method="post">

        <div class="form-group form-inline col-md-12">
            <label asp-for="Bats" class="col-md-2 text-right"></label>
            <input asp-for="Bats" class="form-control col-md-3" maxlength="6" style="ime-mode: disabled" />
            <span asp-validation-for="Bats" class="text-danger col-md-7"></span>
        </div>

        <div class="form-group form-inline col-md-12">
            <label asp-for="Hits" class="col-md-2 text-right"></label>
            <input asp-for="Hits" class="form-control col-md-3" maxlength="6" style="ime-mode: disabled" />
            <span asp-validation-for="Hits" class="text-danger col-md-7"></span>
        </div>
        <div class="form-group form-inline col-md-12">
            <label asp-for="Mou" class="col-md-2 text-right"></label>
            <input asp-for="Mou" class="form-control col-md-10" />
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-success btn-lg col-md-offset-2 col-md-3">計算</button>
            </div>
        </div>
    </form>

    <div class="form-group form-inline col-md-12">
        <label asp-for="Average" class="col-md-2 text-right"></label>
        <input asp-for="Average" class="form-control col-md-10" readonly/>
    </div>

    <form asp-controller="Home" asp-action="Index">
        <div class="col-md-offset-5">
            <button type="submit" class="btn btn-primary">ホームに戻る</button>
        </div>
    </form>
    @*</div>
        <div class="col-md-8">
        </div>*@
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}





